<p><%= current_date %></p>

<p>Автор: Артур Мунаварович</p>

<p>'Приложение Test Guru' <%= github_url('Archi1881', 'test-guru') %></p>

<p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: :blank %></p>