<p><%= "Date #{current_date}" %></p>
'   |  
<p>Автор: Артур Мунаварович</p>
'   |  
<p><%= link_to 'Приложение Test Guru', github_url('Archi1881', 'test-guru'), target: :blank %></p>
'   |  
<p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: :blank %></p>
/ '   |  
<p><%= link_to t('.feedback'), new_feedback_path %></p>