<h1> Edit <%= @question.test.title %> Question </h1>

<%= render 'form' %>
<%= link_to t('helpers.back'), admin_test_path(@question.test) %>
<%= link_to t('helpers.delete'), admin_question_path(@question),
            method: :delete,
            data: { confirm: t('helpers.delete_confirmation') } %>